@model WebGardner.Models.Sensor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sensor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HexSensorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HexSensorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreeSort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreeSort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XCoordinate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XCoordinate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YCoordinate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YCoordinate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
