@model IEnumerable<WebGardner.Models.Sensor>

@{
    ViewBag.Title = "Sensors";
}

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HexSensorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreeSort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XCoordinate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YCoordinate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HexSensorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TreeSort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XCoordinate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YCoordinate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
