@model IEnumerable<WebGardner.Models.Tree>

@{
    ViewBag.Title = "Trees";
}

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create">Create New Tree</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TreeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TreeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TreeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
